<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="${mess}"></h1>
<form action="#" th:action="@{/create}" method="post" th:object="${book}" >
    <div>
        <label>
            Name
            <input type="text" th:field="*{name}">
        </label>
    </div>
    <br>
    <div>
        <label>
            Type
            <input type="text" th:field="*{type}">
        </label>
    </div>
    <br>
    <div>
        <p>Content</p>
        <label>
            <textarea rows="5" cols="20" th:field="*{content}"></textarea>
        </label>
    </div>
    <br>
    <div>
        <label>
            Amount
            <input type="number" th:field="*{amount}">
        </label>
    </div>
    <div>
        <button type="submit" >Add</button>
    </div>
</form>
<h2>
    <a th:href="@{/}">Back to home</a>
</h2>
</body>
</html>