<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="${book.name}"></h1>

<small th:text="${book.type}"></small>

<p th:text="${book.content}"></p>

<p th:text="${book.amount}">Amount:</p>

<th:block th:if="${book.amount}">
<h3><a th:href="@{/{id}/borrow(id=${book.id})}" th:text="Borrow"></a></h3>
</th:block>

<th:block th:unless="${book.amount}">
    <h3>Đã Hết</h3>
</th:block>
<h2>
    <a th:href="@{/}">Back to home</a>
</h2>
</body>
</html>