fieldset  {
    background-color: darkorange;
    width: 600px;
}
table {
    width: 500px;
    height: 500px;
}
table tr:nth-child(1){
    height: 20px;
}
table td:nth-child(1){
    height: 20px;
}
.sun td:nth-child(odd){
        background-color: white;
}
.sun td:nth-child(even){
        background-color: black;
}
.duong td:nth-child(even){
        background-color: white;
}
.duong td:nth-child(odd){
    background-color: black;
}






