.sun {
    width: 700px;
    height: 25px;
    font-size: 17px;
}
.duong {
      font-size: 15px;
  }
table {
    border-collapse: collapse;
    width: 100%;
}
caption {
    text-align: left;
    font-size: 15px
}
th {
    width: 15%;
}
td {
    text-align: center;
}
table tr:nth-child(odd){
    background-color: cornflowerblue;
}
table tr:nth-child(1){
    height: 40px;
}