<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="preloder">
    <div class="loader"></div>
</div>
<!-- Header Section Begin -->
<header th:replace="layout/layout :: header"></header>
<!-- Header End -->
<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <a href="/"><i class="fa fa-home"></i> Home</a>
                    <span>Service</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Product Shop Section Begin -->
<section class="product-shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div th:replace="layout/layout :: alert"></div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1 produts-sidebar-filter">
                <div class="filter-widget">
                    <h4 class="fw-title">Categories</h4>
                    <ul class="filter-catagories">
                        <li><a href="#">Men</a></li>
                        <li><a href="#">Women</a></li>
                        <li><a href="#">Kids</a></li>
                    </ul>
                </div>
                <div class="filter-widget">
                    <h4 class="fw-title">Brand</h4>
                    <div class="fw-brand-check">
                        <div class="bc-item">
                            <label for="bc-calvin">
                                Calvin Klein
                                <input type="checkbox" id="bc-calvin">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="bc-item">
                            <label for="bc-diesel">
                                Diesel
                                <input type="checkbox" id="bc-diesel">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="bc-item">
                            <label for="bc-polo">
                                Polo
                                <input type="checkbox" id="bc-polo">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="bc-item">
                            <label for="bc-tommy">
                                Tommy Hilfiger
                                <input type="checkbox" id="bc-tommy">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 order-1 order-lg-2">
                <div class="table-wrapper">
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-8"><h2>Service <b>Details</b></h2></div>
                        </div>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Code</th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Rent Type</th>
                            <th>Cost</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="service, serviceStart : ${services}">
                            <td th:text="${service.serviceCode}"></td>
                            <td th:text="${service.serviceName}"></td>
                            <td th:text="${service.serviceType.serviceTypeName}"></td>
                            <td th:text="${service.serviceCost}"></td>
                            <td>
                                <a class="edit" title="Edit" data-toggle="tooltip"
                                   th:href="@{/service/{id}/edit(id=${service.serviceId})}">
                                    <i class="material-icons">&#xE254;</i></a>
                                <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"
                                   th:onclick="|setIdToForm('${service.serviceId}')|">
                                    <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                            </td>
                        </tr>
                        <!-- Delete Modal HTML -->
                        <div id="deleteEmployeeModal" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form method="get" th:action="@{/service/delete}">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Delete Service</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Are you sure you want to delete these Records?</p>
                                            <p class="text-warning"><small>This action cannot be undone.</small></p>
                                        </div>
                                        <div class="modal-footer">
                                            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                                            <input type="hidden" id="setServiceId" name="id">
                                            <input type="submit" class="btn btn-danger" value="Delete">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        </tbody>
                    </table>
                    <div class="clearfix">
                        <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
                        <ul class="pagination">
                            <li class="page-item">
                                <a th:href="@{'/service'(page=${services.number - 1})}" th:if="${services.hasPrevious()}">
                                    <i class="fa fa-angle-double-left"></i>
                                </a>
                            </li>

                            <li class="page-item active"
                                th:each="numberPage : ${services.totalPages}">
                                <a class="page-link" th:href="@{'/'(page=${services.number})}"
                                   th:text="${services.number + 1}"></a>

                            </li>
                            <li class="page-item">
                                <a th:href="@{'/service'(page=${services.number + 1})}" th:if="${services.hasNext()}" class="page-link">
                                    <i class="fa fa-angle-double-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Shop Section End -->

<script>
    function setIdToForm(id) {
        document.getElementById("setServiceId").value = id;
    }
</script>

<!-- Footer Section Begin -->
<footer th:replace="layout/layout :: footer"></footer>
<!-- Footer Section End -->

</body>
</html>