<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Header Section Begin -->
<header th:replace="layout/layout :: header"></header>
<!-- Header End -->

<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <a href="/"><i class="fa fa-home"></i>Home</a>
                    <a th:href="@{/customer/show}">Customer</a>
                    <span>Edit Customer</span>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="checkout-section spad">
    <div class="container">
        <form method="post" class="checkout-form" th:object="${customer}" th:action="@{customer/edit}">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <h4>Information</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="fir">Full Name<span>*</span></label>
                            <input type="text" id="fir" th:field="*{customerName}">
                        </div>
                        <div class="col-lg-6">
                            <label for="last">ID Card<span>*</span></label>
                            <input type="text" id="last" th:field="*{customerIdCard}">
                            <p class="errors" th:if="${#fields.hasErrors('customerIdCard')}" th:errors="*{customerIdCard}"></p>
                        </div>
                        <div class="col-lg-12">
                            <label for="cun-name">Date Of Birth</label>
                            <input type="date" id="cun-name" th:field="*{customerBirthday}">
                            <p class="errors" th:if="${#fields.hasErrors('customerBirthday')}" th:errors="*{customerBirthday}"></p>
                        </div>
                        <div class="col-lg-12">
                            <label >Gender<span>*</span></label>
                            <input type="radio"  th:field="*{customerGender}" value="Male"> Male
                            <input type="radio"  th:field="*{customerGender}"  value="Female"> Female
                            <input type="radio"  th:field="*{customerGender}"  value="Other"> Other
                        </div>
                        <div class="col-lg-12">
                            <br>
                        </div>
                        <div class="col-lg-12">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Type Customer</label>
                                </div>
                                <select class="custom-select" id="inputGroupSelect01" th:field="*{customerType}" >
                                    <option th:each="customerType : ${customerTypes}"
                                            th:value="${customerType.customerTypeId}"
                                            th:text="${customerType.customerTypeName}"></option>
                                </select>
                                <p class="errors" th:if="${#fields.hasErrors('customerType')}" th:errors="*{customerType}"></p>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <label for="street">Street Address<span>*</span></label>
                            <input type="text" id="street" class="street-first" th:field="*{customerAddress}" >
                        </div>
                        <div class="col-lg-12">
                            <label for="code">Customer Code<span>*</span></label>
                            <input type="text" id="code" class="street-first" th:field="*{customerCode}" >
                            <p class="errors" th:if="${#fields.hasErrors('customerCode')}" th:errors="*{customerCode}"></p>
                        </div>
                        <div class="col-lg-6">
                            <label for="email">Email Address<span>*</span></label>
                            <input type="email" id="email" th:field="*{customerEmail}" >
                            <p class="errors" th:if="${#fields.hasErrors('customerEmail')}" th:errors="*{customerEmail}"></p>
                        </div>
                        <div class="col-lg-6">
                            <label for="phone">Phone<span>*</span></label>
                            <input type="tel" id="phone" th:field="*{customerPhone}">
                            <p class="errors" th:if="${#fields.hasErrors('customerPhone')}" th:errors="*{customerPhone}"></p>
                        </div>
                        <div class="col-lg-4 offset-lg-4">
                            <button type="submit" class="site-btn login-btn">Edit Customer</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- Register Form Section End -->
<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>