<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="preloder">
    <div class="loader"></div>
</div>
<!-- Header Section Begin -->
<header th:replace="layout/layout :: header"></header>
<!-- Header End -->
<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <a href="/"><i class="fa fa-home"></i> Home</a>
                    <span>Customer</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Product Shop Section Begin -->
<section class="product-shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div th:replace="layout/layout :: alert"></div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1 produts-sidebar-filter">
                <div class="filter-widget">
                    <h4 class="fw-title">Categories</h4>
                    <ul class="filter-catagories">
                        <li><a href="#">Men</a></li>
                        <li><a href="#">Women</a></li>
                        <li><a href="#">Kids</a></li>
                    </ul>
                </div>
                <div class="filter-widget">
                    <h4 class="fw-title">Brand</h4>
                    <div class="fw-brand-check">
                        <div class="bc-item">
                            <label for="bc-calvin">
                                Calvin Klein
                                <input type="checkbox" id="bc-calvin">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="bc-item">
                            <label for="bc-diesel">
                                Diesel
                                <input type="checkbox" id="bc-diesel">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="bc-item">
                            <label for="bc-polo">
                                Polo
                                <input type="checkbox" id="bc-polo">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="bc-item">
                            <label for="bc-tommy">
                                Tommy Hilfiger
                                <input type="checkbox" id="bc-tommy">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 order-1 order-lg-2">
                <div class="table-wrapper">
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-8"><h2>Customer <b>Details</b></h2></div>
                            <div class="col-sm-4">
                                <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i>
                                    <a th:href="@{/customer/create}" class="text-white">Add New</a></button>
                            </div>
                        </div>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Gender</th>
                            <th>Birth Day</th>
                            <th>ID Card</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr th:each="customer, customerStart : ${customers}">
                                <td th:text="${customer.customerName}"></td>
                                <td th:text="${customer.customerGender}"></td>
                                <td th:text="${customer.customerBirthday}"></td>
                                <td th:text="${customer.customerIdCard}"></td>
                                <td>
                                    <a class="edit" title="Edit" data-toggle="tooltip"
                                       th:href="@{customer/{id}/edit(id=${customer.customerId})}">
                                        <i class="material-icons">&#xE254;</i></a>
                                    <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"
                                       th:data-thing="${customer.customerName}" th:data-id="${customer.customerId}"
                                       onclick="setIdToForm(this.getAttribute('data-thing'),this.getAttribute('data-id'))">
                                        <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                                </td>
                            </tr>
                            <!-- Delete Modal HTML -->
                            <div id="deleteEmployeeModal" class="modal fade">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <form method="get" th:action="@{/customer/delete}">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Delete Customer</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Are you sure you want to delete <span id="setName"></span> Records?</p>
                                                <p class="text-warning"><small>This action cannot be undone.</small></p>
                                            </div>
                                            <div class="modal-footer">
                                                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                                                <input type="hidden" id="setCustomerId" name="id">
                                                <input type="submit" class="btn btn-danger" value="Delete">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </tbody>
                    </table>
                    <div class="clearfix">
                        <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
                        <ul class="pagination">
                            <li class="page-item">
                                <a th:href="@{'/customer'(page=${customers.number - 1})}"
                                   th:if="${customers.hasPrevious()}">
                                <i class="fa fa-angle-double-left"></i>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" th:href="@{'/customer'(page=${customers.number})}"
                                   th:if="${customers.hasPrevious()}"
                                   th:text="${customers.number}"></a>

                            </li>

                            <li class="page-item active">
                                <a class="page-link" th:href="@{'/customer'(page=${customers.number})}"
                                   th:text="${customers.number + 1}"></a>

                            </li>
                            <li class="page-item">
                                <a class="page-link" th:href="@{'/customer'(page=${customers.number})}"
                                   th:if="${customers.hasNext()}"
                                   th:text="${customers.number + 2}"></a>

                            </li>
                            <li class="page-item">
                                <a th:href="@{'/customer'(page=${customers.number + 1})}" th:if="${customers.hasNext()}" class="page-link">
                                <i class="fa fa-angle-double-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Shop Section End -->
<div class="banner-section spad">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <div class="single-banner">
                    <img th:src="@{img/banner-1.jpg}" alt="">
                    <div class="inner-text">
                        <h4>Men’s</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-banner">
                    <img th:src="@{img/banner-2.jpg}" alt="">
                    <div class="inner-text">
                        <h4>Women’s</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-banner">
                    <img th:src="@{img/banner-3.jpg}" alt="">
                    <div class="inner-text">
                        <h4>Kid’s</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function setIdToForm(name,id) {
        document.getElementById("setCustomerId").value = id;
        document.getElementById("setName").textContent = name;

    }
</script>

<!-- Footer Section Begin -->
<footer th:replace="layout/layout :: footer"></footer>
<!-- Footer Section End -->

</body>
</html>