<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Header Section Begin -->
<header th:replace="layout/layout :: header"></header>
<!-- Header End -->
<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text product-more">
                    <a href="/"><i class="fa fa-home"></i> Home</a>
                    <a th:href="@{/templates/service/villa}">Service</a>
                    <span>Edit Villa</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section Begin -->

<section class="checkout-section spad">
    <div class="container">
        <form method="post" class="checkout-form" th:object="${service}" th:action="@{/service/edit}">
            <input type="hidden" th:field="*{serviceId}">
            <input type="hidden" th:field="*{serviceType.serviceTypeId}">
            <div class="row">
                <div class="col-lg-12">
                    <h4>Information</h4>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="fir">Service Name<span>*</span></label>
                            <input type="text" id="fir" th:field="*{serviceName}">
                        </div>
                        <div class="col-lg-6">
                            <label for="email">Standard Room<span>*</span></label>
                            <input type="text" id="email" th:field="*{standardRoom}">
                        </div>
                        <div class="col-lg-12">
                            <label for="cun-name">Cost</label>
                            <input type="number" id="cun-name" th:field="*{serviceCost}">
                            <p class="errors" th:if="${#fields.hasErrors('serviceCost')}" th:errors="*{serviceCost}"></p>
                        </div>
                        <div class="col-lg-12">
                            <label for="cun-floor">Number Of Floors<span>*</span></label>
                            <input type="number" id="cun-floor" th:field="*{numberOfFloors}">
                            <p class="errors" th:if="${#fields.hasErrors('numberOfFloors')}" th:errors="*{numberOfFloors}"></p>
                        </div>
                        <div class="col-lg-12">
                            <label for="street">Description<span>*</span></label>
                            <input type="text" id="street" class="street-first" th:field="*{descriptionOtherConvenience}">
                            <input type="text">
                        </div>
                        <div class="col-lg-6">
                            <label for="last">Area Villa<span>*</span></label>
                            <input type="number" id="last" th:field="*{serviceArea}">
                            <p class="errors" th:if="${#fields.hasErrors('serviceArea')}" th:errors="*{serviceArea}"></p>
                        </div>
                        <div class="col-lg-6">
                            <label for="phone">Pool Area<span>*</span></label>
                            <input type="number" id="phone" th:field="*{poolArea}">
                            <p class="errors" th:if="${#fields.hasErrors('poolArea')}" th:errors="*{poolArea}"></p>
                        </div>
                        <div class="col-lg-12">
                            <label for="cun">Max People<span>*</span></label>
                            <input type="number" id="cun" th:field="*{serviceMaxPeople}">
                            <p class="errors" th:if="${#fields.hasErrors('serviceMaxPeople')}" th:errors="*{serviceMaxPeople}"></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="col-lg-12">
                        <label for="code">Service Code<span>*</span></label>
                        <input type="text" id="code" th:field="*{serviceCode}">
                        <p class="errors" th:if="${#fields.hasErrors('serviceCode')}" th:errors="*{serviceCode}"></p>
                    </div>
                    <br>
                    <div class="col-lg-12">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Rent Type</label>
                            </div>
                            <select class="custom-select" id="inputGroupSelect01" th:field="*{rentType}" >
                                <option th:each="rentType : ${rentTypes}"
                                        th:value="${rentType.rentTypeId}"
                                        th:text="${rentType.rentTypeName}">

                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4 offset-lg-4">
                        <button class="site-btn place-btn">Edit Villa</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- Shopping Cart Section End -->

<!-- Footer Section Begin -->
<footer th:replace="layout/layout :: footer"></footer>
<!-- Footer Section End -->
</body>
</html>