<div id="body">
  <div class="signup-form">
  <form (ngSubmit)="submit()" [formGroup]="formCreateCustomer" >
    <h2>Create</h2>
    <p class="hint-text">Create a customer. It's free and only takes a minute.</p>
    <div class="form-group">
      <div class="row">
        <div class="col-6">
          <input type="text" class="form-control" formControlName="idCustomer" placeholder="Id">
          <p *ngIf="formCreateCustomer.get('idCustomer').errors?.required &&
          formCreateCustomer.get('idCustomer').touched">Id is required</p>
          <p *ngIf="formCreateCustomer.get('idCustomer').errors?.pattern">KH-XXXX with x is number</p>
        </div>
        <div class="col-6">
          <input type="text" class="form-control" formControlName="nameCustomer" placeholder="Name">
          <p *ngIf="formCreateCustomer.get('nameCustomer').errors?.required &&
          formCreateCustomer.get('nameCustomer').touched">Name is required</p>
        </div>
      </div>
    </div>
    <div class="form-group">
      <input type="email" class="form-control" formControlName="emailCustomer" placeholder="Email" >
      <p *ngIf="formCreateCustomer.get('emailCustomer').errors?.required &&
          formCreateCustomer.get('emailCustomer').touched">Id is required</p>
      <p *ngIf="formCreateCustomer.get('emailCustomer').errors?.email">abc@abc.abc</p>
    </div>
    <div class="form-group">
      <mat-form-field>
        <input [max]="maxDate" [min]="minDate" class="form-control" formControlName="dateOfBirth" placeholder="Date of Birth"
               matInput [matDatepicker]="myDatepicker" >
        <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #myDatepicker></mat-datepicker>
      </mat-form-field>
      <p *ngIf="formCreateCustomer.get('dateOfBirth').errors?.required &&
          formCreateCustomer.get('dateOfBirth').touched">Date is required</p>
    </div>
    <div class="form-group">
      <select class="form-control" formControlName="customerType">
        <option [ngValue]="customerType" *ngFor="let customerType of customerTypes">
          {{customerType.nameCustomerType}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-6">
          <input type="text" class="form-control" formControlName="idCard" placeholder="Card">
          <p *ngIf="formCreateCustomer.get('idCard').errors?.required &&
          formCreateCustomer.get('idCard').touched">Id card is required</p>
          <p *ngIf="formCreateCustomer.get('idCard').errors?.pattern">xxxxxxxxx with x is number</p>
        </div>
        <div class="col-6">
          <input type="text" class="form-control" formControlName="phoneCustomer" placeholder="Phone">
          <p *ngIf="formCreateCustomer.get('phoneCustomer').errors?.required &&
          formCreateCustomer.get('phoneCustomer').touched">Phone is required</p>
          <p *ngIf="formCreateCustomer.get('phoneCustomer').errors?.pattern">phone start wit 090/(+84)</p></div>
      </div>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" formControlName="addressCustomer" placeholder="Address">
      <p *ngIf="formCreateCustomer.get('addressCustomer').errors?.required &&
          formCreateCustomer.get('addressCustomer').touched">Address is required</p>
    </div>
    <div class="form-group">
      <label class="checkbox-inline"><input type="checkbox"> I accept the <a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a></label>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-success btn-lg btn-block" [disabled]="!formCreateCustomer.valid">Create Now</button>
    </div>
  </form>
  <div class="text-center">Already have an account? <a href="#">Sign in</a></div>
  </div>
</div>
